@model IEnumerable<Test.Models.Contest>
@{
    ViewBag.Title = "Contests";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Contests</h2>

<table id="Contests" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th> Contest Name  </th>
            <th> Start Date  </th>
            <th> End Date  </th>
        </tr>
    </thead>
    <tbody>
        @if (!Model.Any())
        {
            <tr>
                <td colspan="3" style="text-align:center">No Contests Available</td>
            </tr>
        }
        else
        {
            foreach (var contest in Model)
            {
                <tr>
                    <td>@Html.ActionLink(contest.Name, "ContestProblems", "ContestProblems", new { id = contest.Id }, null)</td>
                    <td>@contest.StartDate</td>
                    <td>@contest.EndDate</td>
                </tr>
            }
        }
    </tbody>
</table>
<script>
    var getStart = document.getElementsByClassName('start');
    var getEnd = document.getElementsByClassName('end');
    var Timer = document.getElementsByClassName('timer');
    var id = setInterval(countDown, 1000);
    function countDown() {
        for (var time = 0; time < getStart.length; ++time) {
            var startDate = getStart[time].innerText;
            var endDate = getEnd[time].innerText;

            var date = new Date().getTime();
            var start = new Date(startDate).getTime();
            var end = new Date(endDate).getTime();
            console.log(start);
            console.log(end);

            if (start > date) {
                var time = start - date;
                var timeBeforStart = convertDate(time);
                Timer.innerHTML = timeBeforStart[0] + ":" + timeBeforStart[1] + ":"
                    + timeBeforStart[2] + ":" + timeBeforStart[3];
            }
            else if (end > date) {
                Timer.innerHTML = "Contest in Prgoess";
            }
            else if (date > end) {
                Timer.innerHTML = "Contest has Finished";
                clearInterval(id);
            }

        }
    }
    function convertDate(time) {
        var days = Math.floor(time / (1000 * 60 * 60 * 24));
        var hours = Math.floor((time % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
        var minutes = Math.floor((time % (1000 * 60 * 60)) / (1000 * 60));
        var seconds = Math.floor((time % (1000 * 60)) / 1000);
        var totaltime = [days, hours, minutes, seconds];
        return totaltime;
    }


</script>